[color]
	ui = auto
[user]
	name = karthic
	email = karthic891@gmail.com
[core]
	editor = emacs
[alias]
	st = status
	cm = commit
	br = branch
	co = checkout
[http]
	sslVerify = true
	sslCAinfo = /usr/ssl/certs/cacert.pem


##GIT_CURL_VERBOSE=0	
[remote "origin"]
	receivepack = git receive-pack
